workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e7a23292-501c-43b1-b3b4-a3ed869b6e39",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.arbeitnow.com/api/job-board-api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "8fa04ec4-0bd4-4085-bdd4-dc70a9057080",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "628d61fd-7e22-4622-b89d-d875e3ddf03b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.filter(item => {\n  const title = (item.json.title || '').toLowerCase();\n  const location = (item.json.location || '').toLowerCase();\n\n  const matchesKeyword = title.includes('analyst');\n  const isBerlin = location.includes('berlin');\n\n  return matchesKeyword && isBerlin;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "5eba1593-ff44-4de4-b9bb-3cccf3b80d53",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "claude-haiku-4-5-20251001"
        },
        "messages": {
          "values": [
            {
              "content": "=Title: {{ $json.title }}\nCompany: {{ $json.company_name }}\nDescription: {{ $json.description }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "You are helping evaluate a job posting for a data analyst candidate.  Candidate profile:  - Experience: 1.5 years as Market Data Analyst (import/export data, trend dashboards), M.Sc. in Materials Science  - Stack: Python (pandas), SQL (joins, window functions, CTE), Power BI, Tableau, Plotly/Dash  - Statistics: hypothesis testing, time series (ARIMA/SARIMA/Prophet)  - Known gaps: dbt, Databricks, cloud DWH (Snowflake/BigQuery), Airflow    Return ONLY JSON, no explanation:  {    \"fit_score\": 1-10,    \"matched_skills\": [\"...\"],    \"gap_skills\": [\"...\"],    \"recommendation\": \"apply / apply_with_note / skip\",    \"one_line_reason\": \"...\"  }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        784,
        0
      ],
      "id": "fb978838-a22c-4663-bbf8-f2f26f4d1493",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "lEwGeU6hB1wPrs3k",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const rawText = item.json.content[0].text;\n  const cleanedText = rawText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  const parsed = JSON.parse(cleanedText);\n  \n  const original = $('Split Out').item.json;\n  \n  return { \n    json: {\n      ...parsed,\n      title: original.title,\n      company_name: original.company_name,\n      url: original.url\n    } \n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        0
      ],
      "id": "184a3148-0a4a-4e6b-b140-8490be3f487e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "141139972",
        "text": "=📊 *{{ $json.title }}*\n🏢 {{ $json.company_name }}\n\nFit Score: {{ $json.fit_score }}/10\nRecommendation: {{ $json.recommendation }}\n\n{{ $json.one_line_reason }}\n\n✅ Matched: {{ $json.matched_skills.join(', ') }}\n❌ Gaps: {{ $json.gap_skills.join(', ') }}\n\n🔗 {{ $json.url }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        0
      ],
      "id": "6a655488-9ecb-473d-8af2-e25c78277aaa",
      "name": "Send a text message",
      "webhookId": "50486d6c-dc0c-44db-83ae-bc610cb21761",
      "credentials": {
        "telegramApi": {
          "id": "Xp2XLFKcCa8NFBlD",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5cfd87c3-f1b1-445f-b8f0-aba858ae7164",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07059f73d9fe398870f9c07cf1189fcd0018292b261710b6a89d9aa1a4748261"
  },
  "nodeGroups": [],
  "id": "97pdyAsu2Q79sNOu",
  "tags": []
}
